@tailwind base;
@layer base {
  /* Applied custom font sizes here - Yusaf */
  h1 {
    @apply font-bold;
    /* @apply text-orange-600; */
    @apply text-5xl;
  }
  h2 {
    @apply font-bold;
    /* @apply text-orange-600; */
    @apply text-4xl;
  }
  h3 {
    @apply font-bold;
    /* @apply text-orange-600; */
    @apply text-3xl;
  }
  h4 {
    @apply font-bold;
    /* @apply text-orange-600; */
    @apply text-2xl;
  }
  p {
    @apply font-bold;
    /* @apply text-orange-600; */
    @apply text-lg;
  }
}
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  font-family: "Montserrat" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(0, 3, 14); */
  /* background-image: linear-gradient(to top right, rgb(0, 3, 14), rgb(0, 7, 34)); */
  background-color: #121212;
  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
